[Unit]
Description= Headunit-app
After=local-fs.target sysinit.target

[Service]
Type=forking
User=root
ExecStart=sh /usr/bin/app-hu/app-service.sh

[Install]
WantedBy=multi-user.target
